<a href="https://colab.research.google.com/github/SkyRanger2010/DE2024_PY/blob/main/HomeWork_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# Задание 1

# Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой
# газеты из списка напишите формат указанной даты для перевода в объект datetime:

# The Moscow Times - Wednesday, October 2, 2002
# The Guardian - Friday, 11.10.13
# Daily News - Thursday, 18 August 1977

# Программа должна выводить на экран объекты типа datetime, соответствующие датам
# в условии задачи

from datetime import datetime  as dt

str1 = "The Moscow Times - Wednesday, October 2, 2002"
str2 = "The Guardian - Friday, 11.10.13"
str3 = "Daily News - Thursday, 18 August 1977"

date1 = dt.strptime(str1, "The Moscow Times - %A, %B %d, %Y")
date2 = dt.strptime(str2, "The Guardian - %A, %d.%m.%y")
date3 = dt.strptime(str3, "Daily News - %A, %d %B %Y")
[date1, date2, date3]

[datetime.datetime(2002, 10, 2, 0, 0),
 datetime.datetime(2013, 10, 11, 0, 0),
 datetime.datetime(1977, 8, 18, 0, 0)]

In [39]:
# Задание 2 (не обязательное)

# Напишите функцию date_range, которая возвращает список дат за период от start_date
# до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного
# формата или при start_date > end_date должен возвращаться пустой список.

# Примеры работы программы:
# date_range(‘2022-01-01’, ‘2022-01-03’)
# [‘2022-01-01’, ‘2022-01-02’, ‘2022-01-03’]

import datetime as dt

def data_range (start_date, end_date):
  try:
    start_dt = dt.datetime.strptime(start_date, "%Y-%m-%d")
    end_dt = dt.datetime.strptime(end_date, "%Y-%m-%d")
  except:
    return []
  if start_dt > end_dt:
    return []
  return [(start_dt + dt.timedelta(days=x)).strftime('%Y-%m-%d') for x in range((end_dt-start_dt).days + 1)]



data_range ('2022-01-01','2022-01-03')

['2022-01-01', '2022-01-02', '2022-01-03']